#back-arrow {
    width: 5%;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    text-shadow: -1px -1px black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: scale(1.0, 1.0);
    transition: all ease 0.8s;
    font-variant-emoji: text;
}

#back-arrow:hover {
    transform: scale(1.1, 1.1);
    transition: all ease 0.8s;
    cursor: pointer;
}

#label {
    width: 28%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    text-shadow: -1px -1px black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-flex { 
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
    /* height: */
}

.section-container { 
    width: 80%;
    margin: 0 auto;
}

.inner-text {
    font-size: 1.5em;
}

.p-text {
    filter: brightness(100%);
    transform: scale(1.0, 1.0);
    transition: all ease 0.8s;
}

.p-text:hover{
    filter: brightness(150%);
    transform: scale(1.1, 1.1);
    transition: all ease 0.8s;
}